* {
    padding: 0px;
}

body {
    background-color: black;
}

.landing {
    z-index: 10;
    margin-top: 10%;
}

.container {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 480px;
}

.logo-text {
    margin-left: 10%;
}

#welcome-text {
    position: relative;
    top: 15%;
}

.line {
    font-size: 70px;
    position: relative;
    top: 15%;
    margin-bottom: 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-45%);
}

.anim-text {
    animation: text-animation 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes text-animation {
    from {
        color: white;
        width: 0;
    }
    to {
        color: #FFDE59;
        width: 7.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.logo-text {
    width: 20em;
    margin-top: 5vw;
    font-family: "Source Code Pro", sans-serif;
    color: #676767;
}

.logo-text:hover {
    color: white;
}

.bottom-text {
    margin-top: -10px;
    font-size: 25px;
}


/* Mouse Animation */

body {
    background: #000;
}

@-webkit-keyframes scroll-inner {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 50%;
    }
}

@keyframes scroll-inner {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 50%;
    }
}

@-webkit-keyframes scroll-mouse {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
}

@keyframes scroll-mouse {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
}

div.mouse-container {
    margin-top: 35px;
    position: relative;
    display: block;
    height: 100px;
}

div.mouse {
    position: absolute;
    margin: 0 50%;
    /* margin: 50%; */
    display: block;
    width: 35px;
    height: 60px;
    border: solid 2px #fff;
    border-radius: 25px;
    -webkit-animation: scroll-mouse 1.5s;
    animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

div.mouse span.scroll-down {
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 15% auto auto auto;
    -webkit-animation: scroll-inner 1.5s;
    animation: scroll-inner 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: -10;
}


/*For mobile devices*/

@media only screen and (max-width: 768px) {
    .container {
        display: grid;
    }
    .logo img {
        margin-top: -20vh;
        margin-left: -60vh;
        display: grid;
        align-content: center;
        height: 500px;
        width: 500px;
    }
    .logo-text {
        margin-left: 30px;
        width: 10rem;
        margin-top: -35vh;
        font-family: "Source Code Pro", sans-serif;
        color: white;
    }
    .line {
        font-size: 40px;
        position: relative;
        top: 15%;
        margin-bottom: 0px;
        border-right: 2px solid rgba(255, 255, 255, 0.75);
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-45%);
    }
    .bottom-text {
        width: 15em;
        margin-top: 0px;
        font-size: 20px;
    }
    div.mouse-container {
        margin-top: -1vh;
        position: relative;
        display: block;
        height: 80px;
    }
}